[2017-02-01 18:02] Brianklim opened #1 "BUG: Static GPS"
The app "looked" okay.  The blue icon on the map was showing the correct current location on the tablet and was moving and following tablet location perfectly.  Speed displayed at the top of the screen looked good too.  BUT, data being sent was bad.  Data being posted to Sentry/MobileAppUpdateLocation only showed same coordinates, status, and speed. (see 01 - data.jpg)

I turned off GPS and turn o

[2017-02-01 18:03] Brianklim opened #2 "Map Tab - Map centering"
In the map tab, fix the centering icon.

If the user manually drags the map then turn off centering.

If centering is turned on, default to a zoomed, centered mode.

If centering is turned on and user zooms in or out, keep centered mode turned on.  Only when user drags the map off center, then turn off centering mode.  (see how app maps work)

When centering is ON, the icon should be blue. When it

[2017-02-01 18:07] Brianklim opened #3 "BUG: Speed Spikes"
Position on the map on the tablet looks good.  But the coordinates and speed that is being sent sometimes is very strange.  Huge speeds like 1,300 MPH are being sent many times every 5 seconds!  How are these being calculated?  Even when the coordinates don't change the speed remains the same, how?

The web page screenshot shows the coordinates that was received by the app in the past hour.  The p

[2017-02-02 19:34] simplatek commented on #1
Is this easily reproducible?

[2017-02-02 19:48] Brianklim commented on #1
Unfortunately not.  In production, this happens sometimes to the tablets so I'm constantly checking each one and restarting the app if it does happen.

[2017-02-02 20:24] Brianklim opened #4 "GPS coordinates not being posted"
post target: www.IPS-Systems.com/Sentry/MobileAppUpdateLocation

The app is supposed to send GPS coordinates on a regular interval (typically every 5 seconds) and post to
Sentry/MobileAppUpdateLocation.  But this is not happening.  This bug sounds very similar to the Check-In bug

[https://github.com/IPS-Systems/SentryMobile/issues/2](url)

[2017-02-05 17:15] Brianklim opened #5 "ENH: Update Admin Tab buttons"
We need to display the buttons nicely so users can find what they need quickly.  Each category is by color and section.  Please match the colors and icons as closely as possible.
![image](https://cloud.githubusercontent.com/assets/8105239/22630423/c528fca6-ebae-11e6-90ae-6c1d7032f9c4.png)

[2017-02-05 21:47] Brianklim opened #6 "Pause / Resume tracking button"
Remove the pause/resume button from the map tab page.  Create a new button in the Admin tab and add it to the correct section.  See screenshot.

When the user clicks on the Pause Tracking button a popup should appear with a resume button.  User can't do anything to the app until they press "resume".  Pressing resume closes the window and allows user to use the app.

Note, please make sure that if

[2017-02-07 02:18] Brianklim opened #7 "Replace Valet Tab"
Replace the valet tab with a tab called "Tasks".

Use this icon http://www.freeiconspng.com/uploads/tasks-icon-15.png

Create a new Valet Button in Admin Tab called "Valet Request" and make button green and place next to "Rider Count" button.  Use this icon https://cdn4.iconfinder.com/data/icons/hotel-facilities-2/512/valet-parking-512.png

[2017-02-07 21:23] Brianklim opened #8 "Code cleanup"
remove commented out code.

please remove code that is not used to make the code clean.

[2017-02-10 17:14] Brianklim opened #9 "Montebello Daily Log"
add new button in Admin Tab called "Montebello Daily Log".  this button should be in a new section with new color under (red) section.  Please modify icon http://v-count.com/wp-content/uploads/2014/12/icon-team.png to match existing style icons.

When user presses "Montebello Daily Log" button display full page with "Begin Shift" button:
![image](https://cloud.githubusercontent.com/assets/8105239/

[2017-02-14 19:42] Brianklim commented on #7
if the user presses cancel, please return user back to the Admin Tab

[2017-02-16 04:52] SarahGarren commented on #6
There is a bug. Pausing and resuming tracking is not posting data to the server.

[2017-02-16 05:47] SarahGarren commented on #7
There is a bug but written up on issue #6.

[2017-02-16 05:48] SarahGarren commented on #7
There is a bug but written up on issue #6.

[2017-02-16 05:48] #7 closed

[2017-02-16 05:50] SarahGarren commented on #5
Complete.

[2017-02-16 05:50] #5 closed

[2017-02-16 05:51] SarahGarren commented on #8
Canceled.

[2017-02-16 05:51] #8 closed

[2017-02-19 05:33] Brianklim opened #10 "Valet Cancel Button doesn't work"
admin tab > valet button

Cancel button doesn't work.  Cancel button should bring user back to admin tab screen.

![image](https://cloud.githubusercontent.com/assets/8105239/23099687/cb1215d0-f621-11e6-822a-1f0bfd8a31ca.png)

![image](https://cloud.githubusercontent.com/assets/8105239/23099689/d5d0a978-f621-11e6-8772-8e7f3250661f.png)

[2017-02-19 05:48] Brianklim opened #11 "Admin Tab > Fixed Loop Route - Change down button sounds"
Admin Tab > Fixed Loop Route - Change sound for the down buttons. Use "down button .mp3" in Dropbox.

![image](https://cloud.githubusercontent.com/assets/8105239/23099765/e5de4242-f623-11e6-9c80-bd92ab479324.png)

![image](https://cloud.githubusercontent.com/assets/8105239/23099767/f61d8816-f623-11e6-8645-e27626372980.png)

[down button.zip](https://github.com/IPS-Systems/SentryMobile/files/785612

[2017-02-19 05:58] Nomanghous commented on #11
I can do this as well. Please wait project is syncing, will start working on in right now.

[2017-02-19 14:36] Nomanghous commented on #11
@Brianklim I have fixed this issue and its working perfectly.

[2017-02-19 14:37] Nomanghous commented on #10
@Brianklim  I have fixed this issue and its working perfectly.

[2017-02-19 19:50] SarahGarren commented on #11
Tested and passed the requirements.

[2017-02-19 19:50] #11 closed

[2017-02-19 19:51] SarahGarren commented on #10
Tested and passed requirements.

[2017-02-19 19:51] #10 closed

[2017-02-22 23:34] Brianklim opened #13 "Lock Cred/Route"
From Login Page > App Settings

remove the credential lock and route lock settings.

instead, these settings will be given (boolean) upon sign in.  the two new properties are called
"lockCredentials" and "lockRoutes"

Please use the values from these instead.

[2017-02-23 04:01] SarahGarren opened #14 "Montebello-cancel buttons"
Make all Cancel buttons on the left side, and all Submit buttons on the right side.

When Cancel button is pushed at any point it takes user back to Admin Tab. When user goes back into Montebello button, information from before is saved and brings user back to where they left off.

[2017-02-23 04:28] SarahGarren opened #15 "Montebello-Begin Shift"
Move all the fields including the buttons up into empty space so keyboard doesn't block view of them.
![image](https://cloud.githubusercontent.com/assets/25572175/23244805/bdf5f2ea-f93c-11e6-86b0-cd1c35ba4705.png)

[2017-02-23 04:47] SarahGarren opened #16 "Montebello-Rounds"
Currently there are two scrolling windows which is confusing for the user. Please make it one large scrolling window.
![image](https://cloud.githubusercontent.com/assets/25572175/23245189/8ea91884-f93f-11e6-9c3c-78506f9a4ab2.png)

Do not show the submit button until after 'Station Odometer' information is entered.

User should be able to see what round they are on when entering the stop informatio

[2017-02-23 05:23] Brianklim opened #17 "Montebello - Round count"
The user must type in a total of 4 rounds only.  No more.  No less.

There is also a bug with the Round counter.
if user creates 4 rounds then submits.  then begins another shift and starts more rounds the number of rounds keeps going up.  We went up to round #9.  After Round 4, the user should not be able to create more rounds.

[2017-02-23 12:38] Nomanghous commented on #17
@SarahGarren This issues has been resolved. Now one user can only create 4 rounds. CHECKED. Will commit changes after every bug fixed.

[2017-02-23 12:40] Nomanghous commented on #15
@SarahGarren This issue is resolved, will commit changes soon.

[2017-02-23 12:43] Nomanghous commented on #16
@SarahGarren I have added a stop button for better user experience as we cannot tell programaticaly that user has finished type. So i think Add new stop button will be better solution?

[2017-02-23 16:59] Brianklim opened #18 "Sign In / Sign Out target"
Please change the URL for sign in / out to

Account/SentryMobileSignIn
and
Account/SentryMobileSignOut

[2017-02-23 19:47] Brianklim opened #19 "Admin Tab > Cudahy/SF/BG/Montebello"
In the Admin Tab there are 4 buttons to enter information.  (Cudahy, SF, BG, Montebello).  I only want to show the buttons that pertain to the logged in user.  (Hide the others)

Upon sign-in, I will return "trackerSiteIds" of type List<int>.

Show the corresponding buttons if the number is in the trackerSiteIds list:
Cudahy = 22
San Fernando = 23
Bell Gardens = 21
Montebello = 24

![image](https:

[2017-02-23 20:01] Brianklim opened #20 "About / Settings Preview"
After logging in, there is an "About" and "Setting Preview" in the menu.

Please combine these into the "About" page.  About section should be on top and everything else below.  Allow to vertical scroll if needed.

Also, please list ALL urls dynamically that the app uses along with the interval in seconds.  Urls should be listed alphabetically.

![image](https://cloud.githubusercontent.com/assets/

[2017-02-25 21:02] SarahGarren opened #21 "Montebello-End Shift"
When 'End Shift' button is pushed, it should post information and take user back to 'Admin Tab'. Then when 'Montebello Daily Log' button is pushed again, 'Begin Shift' reappears so user can enter new information into blank fields.

[2017-02-25 21:04] SarahGarren commented on #17
QA passed.

[2017-02-25 21:06] SarahGarren commented on #15
Okay for now.

[2017-02-25 21:06] #15 closed

[2017-02-25 21:09] SarahGarren commented on #14
QA passed.

[2017-02-25 21:09] #14 closed

[2017-02-26 01:50] SarahGarren commented on #17
Using the back button the round count gets messed up.  After pressing the back button and reopening the 'Montebello Daily Log', it always starts at the begin shit which messes up the round count. Please account for user pressing the back button, back button should behave just like the 'Cancel' button and save the place and information user has imputed.
![image](https://cloud.githubusercontent.com/

[2017-02-26 02:08] SarahGarren opened #22 "Montebello-Round Times incorrect"
'Station Time' label is incorrect.
![image](https://cloud.githubusercontent.com/assets/25572175/23336433/5b5d169a-fb85-11e6-9e7d-e96b9e011330.png)

'Start Time', 'End Time', and 'Station Time' are not saving the correct time.

[2017-02-26 02:10] SarahGarren commented on #9
Writing separate bug tickets.

[2017-02-26 02:10] #9 closed

[2017-02-26 02:15] SarahGarren commented on #16
QA passed.

[2017-02-26 02:15] #16 closed

[2017-02-26 02:18] SarahGarren commented on #17
Using the back button the round count gets messed up.  After pressing the back button and reopening the 'Montebello Daily Log', it always starts at the begin shit which messes up the round count. Please account for user pressing the back button, back button should behave just like the 'Cancel' button and save the place and information user has inputed.
![image](https://cloud.githubusercontent.com/

[2017-02-26 02:23] SarahGarren commented on #4
on hold

[2017-02-26 02:24] SarahGarren commented on #3
on hold

[2017-02-26 02:24] SarahGarren commented on #2
on hold

[2017-02-26 02:24] SarahGarren commented on #1
on hold

[2017-02-28 01:22] Brianklim opened #23 "Messages Tab broken"
Messages tab not showing messages.

It appears that when user presses the Tasks tab, the messages appear.  The Tasks tab shouldn't show anything right now.  Please show Messages when Messages tab is pressed.

[2017-02-28 01:24] Brianklim opened #24 "Map Tab broken"
when user presses the Map tab, the google map should be showing but it doesn't.  Please fix this. It used to work, but now it doesn't for some reason.

[2017-02-28 01:26] Brianklim opened #25 "Admin Tab - remove spinner"
why is there a spinner when user presses Admin tab?

There should be no POST or GET I believe.  Please investigate and remove if not needed.

![image](https://cloud.githubusercontent.com/assets/8105239/23387531/f676a910-fd11-11e6-8299-81dfc0eebda0.png)

[2017-02-28 03:22] Brianklim opened #26 "Task Tab - create functionality"
The Task Tab is a task assignment list for the driver (tablet user).  We will retrieve unassigned tasks from the server, display the unassigned tasks in the Tasks tab, and allow the driver to Accept tasks.

For testing you can use the following link to create tasks.  http://dev.ips-systems.com/Home/LoginPage?ReturnUrl=http%3a%2f%2fdev.ips-systems.com%3a80%2fsentry%2fpickuprequestkiosk

IPS07web

/

[2017-03-01 17:59] Brianklim commented on #24
QA passed.

[2017-03-01 17:59] #24 closed

[2017-03-01 17:59] Brianklim commented on #23
QA passed

[2017-03-01 17:59] #23 closed

[2017-03-01 19:24] Brianklim commented on #6
QA passed

[2017-03-01 19:24] #6 closed

[2017-03-02 05:26] SarahGarren commented on #22
QA passsed.

[2017-03-02 05:26] #22 closed

[2017-03-02 05:29] SarahGarren commented on #21
Problem resolved.

[2017-03-02 05:29] #21 closed

[2017-03-02 05:50] SarahGarren commented on #17
QA passed.

[2017-03-02 05:50] #17 closed

[2017-03-04 10:41] Nomanghous commented on #26
@Brianklim The POST Request to Sentry/GetTasks return empty response. Please confirm what's going wrong.

[2017-03-05 18:19] SarahGarren commented on #26
QA passed with minor fixes.

[2017-03-05 18:19] #26 closed

[2017-03-05 18:27] SarahGarren opened #29 "Task - Select/Unselect"
When user clicks on a task to accept, an overlay should display that is a dark gray translucent teh covers the whole screen, where background is visible but it is blurry(see screenshot below).

![image](https://cloud.githubusercontent.com/assets/25572175/23591242/37ee30f4-01a2-11e7-97bd-f255fad355c9.png)

A light green 'Slider Bar' with white words 'Slide to Accept Task' should show up on top of p

[2017-03-05 19:18] SarahGarren opened #30 "Task - Race Condition"
If two tablets are trying to accept the same task, the user who 'Accepts the Task' first should show a box with green on top with a white check inside, and the rest of the box should be white with the blue words saying 'Task Accepted' displayed neatly and centered. The background should be a translucent gray. Box should show up for 5 seconds, then fade away, but user can tap anywhere to make it di

[2017-03-05 21:33] SarahGarren commented on #29
@Nomanghous can you fix these please?

[2017-03-06 05:17] Nomanghous commented on #29
@SarahGarren yes sure! i am working on it.

[2017-03-07 03:48] SarahGarren commented on #29
QA passed with minor UI changes needed.

[2017-03-07 03:48] #29 closed

[2017-03-07 03:49] SarahGarren commented on #30
QA passed with minor UI changes.

[2017-03-07 03:49] #30 closed

[2017-03-07 04:01] SarahGarren opened #31 "Task - Modal Background"
1- The background of the 'Accepted Task' modal is darker than the background of the 'Task Already Assigned to <Bus Name>' modal. Lets make both the backgrounds dark like the 'Accepted Task' modal; including the different tab at the bottom of screen.

![image](https://cloud.githubusercontent.com/assets/25572175/23641338/d6f9ab00-02a7-11e7-98a0-23a4c4165e97.png)

![image](https://cloud.githubusercon

[2017-03-07 04:41] SarahGarren opened #32 "Task - Miscellaneous"
1- Remove the words 'Congratulations' from the Task Accepted modal. Then recenter 'Task Accepted' words, and make the font as big as 'Congratulations' was.

![image](https://cloud.githubusercontent.com/assets/25572175/23642247/012a0068-02ae-11e7-943f-c55910f5fc70.png)

2- The wording should be 'Rider Count', not 'Riders Count'.

3- Place colons after 'Task Details' (ex: "Task Details:" ) and after

[2017-03-07 18:41] Brianklim opened #33 "Task - Creator/Editor/Viewer"
Please test these 3 pages (Creator/Editor/Viewer) for correctness and ease-of-use.  These pages will be used by dispatchers.  Create page is used for creating new tasks.  Editor is used to edit existing tasks.  Viewer is used to display tasks.

Some useful information to keep in mind when doing mock-ups for the tablet:
Using the Task Creator, dispatchers can create pickup and dropoff tasks.  They

[2017-03-08 04:45] Brianklim opened #34 "Task - Start Task"
![image](https://cloud.githubusercontent.com/assets/25572175/23885436/318bb288-0830-11e7-96a0-b7b58a2cff9a.png)

1- The circle with a map is the Google Map coordinates centered on the pick up location that the driver needs to get to.  Match the blue circle to the blue for the Task Title.

2- 'Estimated time' is the amount of time it will take the driver to arrive at the pick up location.

3- 'Esti

[2017-03-08 17:16] Brianklim commented on #32
QA passed

[2017-03-08 17:16] #32 closed

[2017-03-09 03:19] SarahGarren commented on #31
QA passed.

[2017-03-09 03:19] #31 closed

[2017-03-09 06:11] SarahGarren opened #35 "Task Tab - Task Display Update"
1- On the Task Tab, we need to separate the tasks into Assigned and Unassigned categories.  Please use collapsible accordions for each section.

2- When an accordion section is open it shows the tasks in that category.

3- To the left of the category titles there will be little icons (provided below).

[
![assigned](https://cloud.githubusercontent.com/assets/8105239/23761907/57775540-04a9-11e7-919

[2017-03-09 17:18] Brianklim commented on #35
[
![assigned](https://cloud.githubusercontent.com/assets/8105239/23761907/57775540-04a9-11e7-9192-6d2666bf8175.png)
![comingsoon](https://cloud.githubusercontent.com/assets/8105239/23761908/578b1116-04a9-11e7-934c-200daaec1db4.png)
![overdue](https://cloud.githubusercontent.com/assets/8105239/23761910/57912272-04a9-11e7-876e-ca0a1f98abd4.png)
![unassigned](https://cloud.githubusercontent.com/asset

[2017-03-10 02:45] SarahGarren opened #36 "Task - Accept Task update"
NOTE: This page replaces the other 'Accept Task" page that you created.

For the Unassigned tasks, user can click on the different ones and view the details about that one they clicked on.
![image](https://cloud.githubusercontent.com/assets/25572175/23786138/2346d224-0520-11e7-92bc-3d313a7a1f47.png)

1- User will see the 'Task Title' at the top; and under in a box will be the 'Details'. Technical

[2017-03-10 06:59] Brianklim commented on #33
it's perfect :)

[2017-03-10 06:59] #33 closed

[2017-03-10 15:44] Nomanghous commented on #35
@Brianklim to determine the category of the task what will i do? Is every task object in the json will have the statusId field?

[2017-03-10 17:13] Brianklim commented on #35
@Nomanghous Yes, that is correct.  I each task will have the StatusId.  If StatusId==1 then the task goes in the Assigned category, else it goes in Unassigned category.

[2017-03-10 23:22] Brianklim opened #37 "Task - Task Picked up page"
Show this page when the user taps on a task that is already assigned to this user OR if the user presses the green 'OK' button from the start task page.  Please have the map autozoom max to keep current position and Pickup location within the screen view.

![image](https://cloud.githubusercontent.com/assets/8105239/24031070/ac29b0de-0a9d-11e7-8117-237c0bcaec25.png)

If user taps on the top green b

[2017-03-10 23:28] Brianklim opened #38 "Task - Task Dropped off page"
After user slides slider bar in the 'Pick up' page, it will take them the 'Drop off' page.
![image](https://cloud.githubusercontent.com/assets/25572175/24031108/f1191b62-0a9d-11e7-97d0-ddea6d8a2af9.png)
1- User can tap chevron symbol in corner to take them to a 'Task Details' page. Animate screen change to slide from 'drop off' page to 'details page'
![image](https://cloud.githubusercontent.com/as

[2017-03-11 15:28] Nomanghous commented on #35
@Brianklim Can you please specify the datatypes of the response as well?

[2017-03-11 16:42] Brianklim commented on #35
Ids are int, lat/lng are decimal, rider count is int, scheduled is datetime, everything else is string

[2017-03-11 17:10] Nomanghous commented on #35
@Brianklim great thanks, one more question. how could i add new task? http://dev.ips-systems.com/sentry/pickuprequestkiosk ? i added one using this URL and some of the fields are empty in the response.

[2017-03-13 17:15] Brianklim commented on #20
@SarahGarren ready for testing 1_33i.apk

[2017-03-13 17:15] Brianklim commented on #13
@SarahGarren  ready for testing 1_33i.apk

[2017-03-14 03:51] Brianklim commented on #13
QA passed

[2017-03-14 03:51] #13 closed

[2017-03-14 03:52] Brianklim commented on #20
QA passed

[2017-03-14 03:52] #20 closed

[2017-03-15 03:25] Brianklim commented on #25
QA passed

[2017-03-15 03:25] #25 closed

[2017-03-15 04:01] Brianklim commented on #35
@Nomanghous - here are some bugs I found
1) Please allow the user to tap anywhere on the task category bar to expand/contract category tasks
2) Please hide the task category if there are 0 tasks in it.  If there is only 1 category displayed, please keep it expanded.
3) Change "Pickup" to "Pick up".  Change "Dropoff" to "Drop off"
4) If value is null (i.e. "Drop off: null") please do not display "n

[2017-03-16 04:13] Brianklim commented on #35
@Nomanghous
1) I noticed a bug with the pick up datetime.  Even if the Task has pick up scheduled datetime = null, you are displaying a datetime.  It looks like you're using the previous task's pick up datetime.  Please make sure the values stay with the correct task.
2) Map tab is broken. Map not showing.

[2017-03-17 04:49] SarahGarren opened #39 "Cancel buttons"
All of these are on the admin tab.

1- 'Notify Supervisor' button. Words disappear when user starts typing. Blue outline around box. The blue is #3ab8e8ff . 'Cancel' button takes user back to Admin Tab, and the 'Submit' button submits the info and takes user back to Admin Tab.
![image](https://cloud.githubusercontent.com/assets/25572175/24536212/befcf1ee-158d-11e7-8869-bae99215ec2b.png)

2- 'New I

[2017-03-17 07:01] Nomanghous commented on #34
@Brianklim From where this screen will shown up? When driver accepts the task?

[2017-03-17 07:14] Brianklim commented on #34
The user can see this screen from 2 different ways.
1) If the user taps on an "Assigned" task from the task tab.
or
2) After the user ACCEPTS an unassigned task.

[2017-03-17 07:21] Nomanghous commented on #34
Okay great, that's fine.

[2017-03-17 07:21] Brianklim commented on #36
@Nomanghous there is a bug with this.  Please POST to the correct URL above.

[2017-03-17 11:38] Nomanghous commented on #36
okay the URL is update and bug fixed.

[2017-03-19 22:16] SarahGarren commented on #35
@Nomanghous

The icons are wrong. The red exclamation point is for overdue tasks. The clock is for tasks that are coming up within an hour.
![image](https://cloud.githubusercontent.com/assets/25572175/24085299/99ff2982-0cb6-11e7-823e-9c867a625562.png)

[2017-03-19 22:50] SarahGarren commented on #34
@Nomanghous

1- Please make full screen so user can't see the time, battery life, or anything at the top, and all the tabs at the bottom. So with the extra space now, make things bigger and easier to read. But proportional.

2- Please make the 'Cancel' and 'Submit' buttons round with the 'X' centered.

3- Make the icons on the side bigger.

4- Can we change the wording for 'Estimated Time' and 'Es

[2017-03-19 23:03] SarahGarren opened #40 "Cudahy/BG/SF - Begin shift"
1- When user clicks on 'Cudahy Daily Log' button a modal will come up with 'Begin Shift' and a 'Cancel' button. Please blur the admin tab and use it as the background.

![image](https://cloud.githubusercontent.com/assets/25572175/24085752/96dda42e-0cbe-11e7-9ec7-184813dcf4bf.png)

2- The user should see the name of what button they clicked on top in white. if user clicks 'Cudahy Daily Log', the na

[2017-03-19 23:37] SarahGarren opened #41 "Cudahy/BG/SF - Pax Count"
When user clicks on 'Begin Round 1' (number depending on the round they are on) it will take them to this page.

1- The top tells the user what Round number they are on out of how many rounds their city has. Cudhay has a total of 11 rounds, San Fernando has a total of 9 rounds, and Bell Gardens has a total of 10 rounds.

2- User can click on the up or down arrows to change the numbers in the circl

[2017-03-21 09:53] Nomanghous commented on #35
@SarahGarren I have fixed #36 issue, will upload changes tonight.

[2017-03-23 02:24] SarahGarren commented on #34
@Nomanghous

1- Please get rid of the white box that is around the map circle, make the whole background white.

2- Please move the 'Cancel' and 'Submit' button down. Then make the Details box longer and increase the size of everything inside the box.

![image](https://cloud.githubusercontent.com/assets/25572175/24229098/24807194-0f35-11e7-9223-cc74240e0312.png)

[2017-03-23 02:33] SarahGarren commented on #38
@Nomanghous

1- Please center the Task Title vertically as well as horizontal.

2- Also get rid of the checkerboard behind the 'Back' button.

3- When user goes from 'Drop off' page to the details page by clicking the top chevron arrow, please make the page side from the right side of the page. Then when the user clicks the 'Back' button on the Details page, please make it slide from the left.

![

[2017-03-23 02:35] SarahGarren commented on #37
@Nomanghous

1- Please center the Task Title vertically as well as horizontal.

2- Also get rid of the checkerboard behind the 'Back' button.

3- When user goes from 'Pick up' page to the Details page by clicking the top chevron arrow, please make the page side from the right side of the page. Then when the user clicks the 'Back' button on the Details page, please make it slide from the left.

![i

[2017-03-23 02:47] SarahGarren commented on #35
QA passed.

[2017-03-23 02:47] #35 closed

[2017-03-23 03:47] SarahGarren opened #42 "Cudahy/BG/SF - Buttons"
1- On the admin tab, please get rid of red buttons (Start Shift, End Shift, Pax Mile Count, Add Fuel Mileage, and Rdier Count). There will now be three buttons in place. 'Bell Gardens Daily Log', 'Cudahy Daily Log', and 'San Fernando Daily Log'.

2- The buttons will be purple with white writing, the words in all caps, and left justified. The purple is #cb5affff .

3- The icon should be white.

![i

[2017-03-23 04:00] SarahGarren commented on #42
1- On the admin tab, please get rid of red buttons (Start Shift, End Shift, Pax Mile Count, Add Fuel Mileage, and Rdier Count). There will now be three buttons in place. 'Bell Gardens Daily Log', 'Cudahy Daily Log', and 'San Fernando Daily Log'. In that order.

2- The buttons will be red with white writing, the words in all caps, and left justified. The red is #ff4e4eff .

3- The icon should be wh

[2017-03-23 04:48] SarahGarren opened #43 "Cudahy/BG/SF - Fuel"
The Fuel Page is the same for all three logs.
Once user clicks on 'Add Fuel Mileage' on the page, it will take them here. User **must** enter information in all fields in order to submit.

1-The 'Submit' button take user back to the page, **where they can now only click on 'Begin Round'.** User can only submit **ONE** fuel mileage info. If user finishes rounds and still hasn't used this button unt

[2017-03-23 04:48] SarahGarren opened #44 "Cudahy/BG/SF - End Shift"
After user submits the final round, or fuel mileage it takes them to this page.

1- When user clicks 'End shift' it takes them back to the Admin Tab.

2- The button color is #3ccce8ff .

3- White background.
![image](https://cloud.githubusercontent.com/assets/25572175/24280532/7bdc963c-100e-11e7-933e-01e675b0b198.png)

[2017-03-23 05:30] SarahGarren opened #45 "Cudhay/BG/SF - Begin Round or Fuel Mileage"
Cudhay- After user clicks on 'Begin Shift' it will take them to this page which gives the user the option to start a round or get fuel.

1- If user click on 'Begin Round 1' button, it will take them to the passenger count page. This button is blue ( #42cde8ff )with a black outline.

2- The round number on the button changes depending on which round they are on.

3- If user clicks on 'Add Fuel Mile

[2017-03-23 16:13] Brianklim commented on #34
QA passed.

[2017-03-23 16:13] #34 closed

[2017-03-24 02:15] SarahGarren commented on #36
Please change the old 'Cancel' button to the new circular 'Cancel' button.

![image](https://cloud.githubusercontent.com/assets/25572175/24277782/a29e234c-0ffc-11e7-84de-066a0ed3f4ac.png)

[2017-03-24 04:24] SarahGarren opened #46 "Tasks - Alert bubble"
When a task is assigned to the user and an unassigned tasks is available it should show an alert on the Task tab when user is on a different tab. It is like the Messenger alert bubble, make the same style. If user has one assigned task, and there are 3 unassigned tasks, the bubble should have the number 4.
![image](https://cloud.githubusercontent.com/assets/25572175/24280883/9e8a6f1c-1011-11e7-8dc

[2017-03-24 05:09] SarahGarren commented on #37
@Nomanghous

You didn't do this(#3):
When user goes from 'Pick up' page to the Details page by clicking the top chevron arrow, please make the page side from the right side of the page. Then when the user clicks the 'Back' button on the Details page, please make it slide from the left.

[2017-03-24 05:11] SarahGarren commented on #38
@Nomanghous

You didn't do this(#3):
When user goes from 'Drop off' page to the details page by clicking the top chevron arrow, please make the page side from the right side of the page. Then when the user clicks the 'Back' button on the Details page, please make it slide from the left.

Bug I didn't get to write up:

[2017-03-24 17:08] Brianklim opened #48 "Tasks - AcceptTaskAndComplete"
On the Accept Task page we need to add a way to "AcceptTaskAndComplete" the task.  This is to keep the same functionality for SpaceX where the driver is just notified of a pickup request and does not need directions.

For the YELLOW slider, please post to Sentry/AcceptTaskAndComplete with parameters (string sessionId, int taskId)

Design: Just like the 'Accept Task' page.

1- If 'Drop off', 'Estim

[2017-03-24 19:40] Brianklim opened #49 "Map Tab - get shuttle positions"
Current Behavior:
The app is currently POSTING to some url every 5 seconds to get shuttle location information for the map tab.

Expected Behavior:
Please only POST if the map tab is open.  If the map tab screen is not active please do not POST to retrieve shuttle location information.  This will reduce load on server.

Technical Note:
To get shuttle locations please POST Sentry/MobileAppGetNearby

[2017-03-26 21:45] SarahGarren opened #50 "Task - Fixes"
1- The order of tasks needs to be ordered first from 'Overdue' to 'Coming up' then from the nearest 'pick up' date to the furthest 'pick up' date.
![image](https://cloud.githubusercontent.com/assets/25572175/24335554/8821c5e8-1234-11e7-9135-8f5bc681fa7c.png)

2- When user opens a task in the 'Assigned' field then cancels the task, when user is taken back to the 'Task Tab' the'Unassigned' field is

[2017-03-26 22:34] SarahGarren commented on #42
QA passed.

[2017-03-26 22:34] SarahGarren commented on #44
QA passed.

[2017-03-26 22:34] #44 closed

[2017-03-26 22:35] SarahGarren commented on #40
QA passed

[2017-03-26 22:35] #40 closed

[2017-03-26 22:51] SarahGarren commented on #45
@Nomanghous

For Bell Gardens and San Fernando, the selection box needs to say the schedule the user picked on round 1 for all the rounds.

[2017-03-26 23:23] SarahGarren commented on #43
@Nomanghous

1- The 'Cancel' button needs to take the user back to to the 'Begin Round or Fuel Mileage' page, not back to the Admin Tab.

2- Please add a cursor to the box that the user is typing in.

[2017-03-26 23:38] SarahGarren commented on #41
@Nomanghous

1- Make the word 'End' red please. Right now it is pink. This is the red I used #cc0000 .

2- Please only allow the user to submit on this page if the mileage is greater than the previous round.

[2017-03-26 23:41] SarahGarren commented on #42
@Nomanghous

Please make it possible to start multiple shifts after one has ended.

[2017-03-28 19:30] Brianklim commented on #18
@Nomanghous are you POSTING to SentryMobileSignOut?  I'm seeing it on my side.  Please double check.  Thanks

[2017-03-29 01:41] Brianklim commented on #46
![image](https://cloud.githubusercontent.com/assets/8105239/24434706/1a53cc74-13e6-11e7-9e98-cf830f19b03c.png)

[2017-03-29 01:42] Brianklim commented on #46
@Nomanghous Hi, can you please make it same style as the messages tab.  It looks like red circle with white text.

[2017-03-29 01:51] Brianklim opened #51 "Signal Strength"
I need the app to tell my servers the signal strength of the data and of GPS.

Currently, the app POST to Home\MobileAppUserCheckIn with one of the parameters being dataSignalStrength.  Can you please check the correctness of this value.  It seems to only send a value of 0.  Sometimes value 4, but mostly  value 0.  This should be the strength of the data signal of the device.

Please also add the

[2017-03-29 02:56] SarahGarren commented on #38
QA passed.

[2017-03-29 02:56] #38 closed

[2017-03-29 02:56] SarahGarren commented on #37
QA passed.

[2017-03-29 02:56] #37 closed

[2017-03-29 03:03] SarahGarren opened #52 "Task - cancel button & icons"
1- Please change the old 'Cancel' button to the new circular 'Cancel' button.

![image](https://cloud.githubusercontent.com/assets/25572175/24277782/a29e234c-0ffc-11e7-84de-066a0ed3f4ac.png)

2- The 'Overdue' icon is not showing up sometimes. Please fix this.

![image](https://cloud.githubusercontent.com/assets/25572175/24436722/08a05644-13f2-11e7-8866-218d66b2b4cf.png)

[2017-03-29 03:08] SarahGarren commented on #36
In ticket #52

[2017-03-29 03:08] #36 closed

[2017-03-29 03:08] SarahGarren commented on #50
In ticket #52

[2017-03-29 03:08] #50 closed

[2017-03-29 03:33] SarahGarren opened #53 "Cudahy/BG/SF - Begin and End shift update"
There was miscommunication between Brian and I, and so I didn't know there had to be fields to fill out when beginning and ending a shift. So sorry and hope this isn't to much of a hassle, similar to the end and begin shift in 1.33.

BEGIN SHIFT-

1- When user selects 'Begin shift' this page will open. When the page opens, make sure the Android keyboard is up.

2- User needs to fill out four diffe

[2017-03-29 04:33] SarahGarren commented on #42
QA passed.

[2017-03-29 04:33] #42 closed

[2017-03-29 04:34] SarahGarren commented on #41
QA passed.

[2017-03-29 04:34] #41 closed

[2017-03-29 04:52] SarahGarren commented on #45
@Nomanghous

1- 'Select Schedule' is showing funny on screen. Please fix.

![image](https://cloud.githubusercontent.com/assets/25572175/24438770/987b5e56-13fe-11e7-8da2-3e5352c05f24.png)

2- User doesn't have to do 'Add Fuel Mileage' in order to end the shift. we are now going to have the 'End shift' button pop up when user is finished with all of their rounds. And if user clicks 'End Shift', it s

[2017-03-29 04:59] SarahGarren commented on #43
@Nomanghous

1- The cursor caused the Android keyboard to show over the circular number pad we created, so lets not do the cursor. Sorry for the inconvenience.

[2017-03-29 05:02] SarahGarren opened #54 "Version Number Update"
Please update the version number to 1.34. Please remember to do this with every new one.

[2017-03-29 18:11] Nomanghous commented on #46
@Brianklim yeah sure, i was about to make it white but in the mockups it was black. :) no problem i will fix this.

[2017-03-29 18:39] Nomanghous commented on #18
@Brianklim yes i am posting to Account/SentryMobileSignOut, confirmed.

[2017-03-31 01:09] Brianklim commented on #18
@Nomanghous something isn't correct.
First, please pass in sessionId for Account/SentryMobileSignOut.
Second, it still seems like you're posting to Home/SentryMobileSignIn instead of Account/SentryMobileSignIn

If you go to the About Page and scroll all the way to the bottom you'll see the "home/MobileAppSignIn" url.  This is incorrect.  Do you have a sepearte URL string you're using?  This list o

[2017-03-31 01:24] Brianklim commented on #46
![image](https://cloud.githubusercontent.com/assets/8105239/24532524/0d4498a6-1576-11e7-85ba-14908af48ae1.png)
QA passed

[2017-03-31 01:24] #46 closed

[2017-03-31 01:33] Brianklim commented on #52
![image](https://cloud.githubusercontent.com/assets/8105239/24532620/b0881dbc-1576-11e7-924f-5042e97c2132.png)

QA passed.... kinda.  Icons should refresh automatically, but currently the user has to manually refresh the screen for the icons to update.

[2017-03-31 01:33] #52 closed

[2017-03-31 02:20] SarahGarren commented on #43
@Nomanghous

If user clicks 'Add Fuel Mileage' then hits 'Cancel' so it takes them back to the 'Begin Round or Add Fuel Mileage' page, the 'Add Fuel Mileage' button still needs to be there. Right now it disappears afterward, it should only disappear if they submit the info.

[2017-03-31 02:27] SarahGarren commented on #45
@Nomanghous

After user finishes all the rounds, lets make the 'Select Schedule' box go away.
![image](https://cloud.githubusercontent.com/assets/25572175/24533805/d6b8fe54-157e-11e7-9af9-f0a858d0492b.png)
![image](https://cloud.githubusercontent.com/assets/25572175/24533820/e9f4e8ac-157e-11e7-88aa-04cc4135591e.png)

[2017-03-31 02:56] SarahGarren opened #55 "Tasks - Icons"

[2017-03-31 04:54] SarahGarren opened #56 "Tasks - Design updates"
1. A- On the '**Accept Task**', '**Pick Up**', and **'Drop Off**' pages, please fix the blue lines so they do not span the entire width of the Details Box.
Currently-
![image](https://cloud.githubusercontent.com/assets/25572175/24537003/d90a0efe-1593-11e7-8ac4-3a7b8d52e186.png)
 Should be-
![image](https://cloud.githubusercontent.com/assets/25572175/24537018/fd25e7c2-1593-11e7-8445-938ba50c9185.pn

[2017-03-31 16:51] Nomanghous commented on #45
@SarahGarren actually pick a schedule option was there in previous mockups that is why i did it but No problems i will fix this next built.

[2017-03-31 23:46] Brianklim opened #57 "Admin Tab - ADP buttons"
I would like to add 2 buttons to the Admin Tab.  First button called "ADP Timestamp" and Second button called "ADP Login" should open Incognito Chrome browser to the below URL.

https://tlmisi2.adp.com/adptlmqts/quickTS.aspx

https://ewallet.adp.com/arcot/enroll/adpLogin.faces?TYPE=33554433&REALMOID=06-61336bb4-b012-101f-ae21-844af8f80cb3&GUID=&SMAUTHREASON=0&METHOD=GET&SMAGENTNAME=-SM-3dtuq7XzN9C

[2017-04-02 17:33] SarahGarren commented on #54
QA passed.
![image](https://cloud.githubusercontent.com/assets/25572175/24589475/c943f130-178f-11e7-88f4-4cf5a8cff0ab.png)

[2017-04-02 17:33] #54 closed

[2017-04-02 17:35] SarahGarren commented on #43
QA passed.

[2017-04-02 17:35] #43 closed

[2017-04-02 17:36] SarahGarren commented on #45
QA passed.

[2017-04-02 17:36] #45 closed

[2017-04-02 20:14] SarahGarren commented on #53
1- For Cudahy Daily Log, after I enter Begin Shift information, submit it, it takes me straight to 'End Shift', or the app crashes when I try to begin a round or add fuel mileage. It needs to work just the like other two logs, please fix.

2- If app does crash, and user opens the app again, it needs to remember where they were. If a user is on round 4, app crashes, they reopen it, and go back to '

[2017-04-03 16:57] Brianklim opened #58 "Daily Log - Schedule"
TODO: we need to post the schedule dropdown selection.

[2017-04-03 23:37] Brianklim opened #59 "Login Settings"
In the login page, lets remove the login settings page (the page where we set the app environment)

Instead, let's specify the environment using the username field.  For example, if I want to run the app in the dev environment, then I'll type dev::< username > into the username field.  If I want to run the app in qa then i'll type qa::< username >.  If I want production then I'll type <username> i

[2017-04-03 23:52] Brianklim opened #60 "Admin Tab > Rider Count"
change this page to the up-tick and down-tick counter

We need two numbers.
1) number of passengers on
2) number of passengers off

![image](https://cloud.githubusercontent.com/assets/25572175/24787092/1e1efb76-1b1b-11e7-9752-aa37c65ef91d.png)

[2017-04-03 23:59] Brianklim commented on #39
@SarahGarren ticket #60 might cover one of the screenshots above.  please remove from above and use ticket #60 for that particular screen.  thanks.

[2017-04-04 10:36] Nomanghous commented on #18
@Brianklim I have updated all URLs dynamically but i don't know why it's still posting it to previous one. I will dig into it today and let you know about the bug.

[2017-04-04 10:39] Nomanghous commented on #53
@SarahGarren on my sending the API is responding with "true" when i end any shift. I don't know if it's still not posting correctly. Please let me know if you are still facing this issue, Thanks.

[2017-04-04 11:02] Nomanghous commented on #18
@Brianklim i have tested that everything on my end and it's working good. Account/SentryMobileSignOut is being posted with sessionId as well and on the about page login and signout URLs are fine.
Please check with the latest apk that i have sent and let me know if it not okay. Thanks.

[2017-04-04 22:30] Brianklim commented on #18
cool, so dev fixed the signout missing sessionId so now it's not throwing an error.  However, I'm not seeing signout in the logs.  Sign in works correctly though.  Closing ticket.

[2017-04-04 22:30] #18 closed

[2017-04-04 22:33] Brianklim opened #61 "Message Tab - organize the messages nicely"
Design:
1- The message tab will show all messages and replies in the order they were sent. With the time stamp at the bottom of that message, and the phone number the message came from. The phone number and sent time need to be gray. ( #666666 )

2- The yellow message bubbles ( #fcffb8ff ) are messages that have not been seen. The light gray messages ( #f3f3f3ff ) are messages that have been seen.

[2017-04-05 07:46] SarahGarren commented on #53
@Nomanghous

When the app is first installed, Bell Gardens and San Fernando round save. Perfect! After an install and I complete a round for Cudahy, it sometimes does not save the begin shift information. Please try to figure out what is going wrong and fix it. Again, it only happens once in a while but is a big problem.

[2017-04-05 09:27] Nomanghous commented on #53
@SarahGarren okay i will have a look at it and let you know how it goes on my side.

[2017-04-05 10:11] Nomanghous commented on #53
![capture](https://cloud.githubusercontent.com/assets/12783763/24700739/864617f8-1a11-11e7-8ecf-83004fca2ef3.PNG)
You can see the parameters with which i am posting to the following url.
URL: http://dev.ips-systems.com/Sentry/StartShift
API is response is "false" even when i tried with other Bell Gardens and San Fernando.
Please let me know how do i know that when start shift is successfully poste

[2017-04-06 02:56] Brianklim commented on #53
when you POST to StartShift or EndShift I will return true if successfully saved the information.  If you don't get a true response back, then notify the user the information wasn't saved and allow them to submit again.

[2017-04-06 08:16] Nomanghous commented on #53
okay actually i have tried several times to start a shift and it's returning false every time. It's posting perfectly from my side, every parameter has a value. I don't know if there is some kind on foreign key on driver names or bus names from any parent table? that these must be present in the present table while starting the shift. Please confirm.

[2017-04-06 22:07] Brianklim commented on #58
canceled

[2017-04-06 22:07] #58 closed

[2017-04-07 04:41] SarahGarren commented on #19
![image](https://cloud.githubusercontent.com/assets/25572175/24785827/c50df888-1b11-11e7-8453-bdc27dd0d334.png)

[2017-04-07 05:18] SarahGarren commented on #53
QA passed.

[2017-04-07 05:18] #53 closed

[2017-04-07 05:24] SarahGarren commented on #59
![image](https://cloud.githubusercontent.com/assets/25572175/24786624/cad58d70-1b17-11e7-9ed4-03f302b8413f.png)

![image](https://cloud.githubusercontent.com/assets/25572175/24786622/c73d4676-1b17-11e7-95d1-3ae153bf9842.png)

[2017-04-07 05:26] SarahGarren commented on #59
![image](https://cloud.githubusercontent.com/assets/25572175/24786649/f99367ae-1b17-11e7-877c-93a3dc146bf4.png)

![image](https://cloud.githubusercontent.com/assets/25572175/24786622/c73d4676-1b17-11e7-95d1-3ae153bf9842.png)

[2017-04-07 05:48] SarahGarren commented on #60
![image](https://cloud.githubusercontent.com/assets/25572175/24787092/1e1efb76-1b1b-11e7-9752-aa37c65ef91d.png)

[2017-04-09 23:11] SarahGarren commented on #39
@Nomanghous
These are the bugs I have found so far:
1- On the Admin Tab, when I click on 'Notify Supervisor' or 'New Incident', the wrong page comes up. For 'Notify Supervisor', 'New Incident' page comes up, and when 'New incident' is clicked on, 'Notify Supervisor' Page comes up. It should be Notify Supervisor with Notify Supervisor and New Incident with New incident

2- On the Valet Request page

[2017-04-09 23:13] SarahGarren commented on #60
@Nomanghous

Simple fix on this page.

On the 'Rider Count' page, the bottom of the words 'On' and 'Off' are cut off. not sure why, simple fix. Please and thank you.
![image](https://cloud.githubusercontent.com/assets/25572175/24841719/29acce8e-1d3f-11e7-9b41-13c0ef051759.png)

[2017-04-11 15:28] Brianklim commented on #51
QA passed

[2017-04-11 15:28] #51 closed

[2017-04-12 04:17] SarahGarren commented on #60
@Nomanghous
fix this
![image](https://cloud.githubusercontent.com/assets/25572175/24941046/35b1b3ca-1efc-11e7-87e6-a3b3036a516f.png)

[2017-04-12 04:19] SarahGarren commented on #19
@Nomanghous
Please move the boxes up into the empty space.
![image](https://cloud.githubusercontent.com/assets/25572175/24941073/79155338-1efc-11e7-9fc9-1d6904010906.png)

[2017-04-12 04:39] SarahGarren commented on #59
@Nomanghous

When a user logs out, please remember the exact username they had entered before. Right now it remembers 'ips03' but I logged in as 'dev::ips03'. so please make this so it remembers 'dev::ips03' or which ever username the user uses.
![image](https://cloud.githubusercontent.com/assets/25572175/24941398/f9a0c56c-1efe-11e7-9f02-48210bf56e0c.png)

[2017-04-12 04:42] SarahGarren commented on #39
QA passed.

[2017-04-12 04:42] #39 closed

[2017-04-12 06:56] Nomanghous commented on #19
@SarahGarren for point (2) did you log in again after selecting the buttons?

[2017-04-12 17:38] Brianklim commented on #60
QA passed

[2017-04-12 17:38] #60 closed

[2017-04-12 17:47] Brianklim commented on #19
@Nomanghous yes, I believe we tried logging in again.

[2017-04-12 18:19] Brianklim commented on #59
QA passed

[2017-04-12 18:19] #59 closed

[2017-04-14 03:13] SarahGarren commented on #48
@Nomanghous

When I was testing the 'Accept and Complete' button, sometimes the one I had just 'Accepted and Completed' was in the 'Unassigned' list still. It would sometimes take 4 seconds to disappear. If I clicked on the one i had 'Accepted and Completed' before, I wasnt able to slide the the 'Accept and Complete' button.

To fix this we need to update the list quicker. Get an updated list from

[2017-04-14 06:23] SarahGarren commented on #19
QA passed.

[2017-04-14 06:23] #19 closed

[2017-04-14 06:50] SarahGarren commented on #49
@Nomanghous

1- There is a bug and it isn't showing the shuttle position from API response.

[2017-04-14 14:33] Nomanghous commented on #48
@SarahGarren It's showing "Accept and Complete" slider only when Drop off', 'Estimated time', and 'Estimated distance' are not given. I have tested it on my side and it's working good. Please let me know if there any special case when this bug happens?

[2017-04-18 05:15] SarahGarren commented on #56
@Nomanghous

When I click on an assigned task, it takes me to the page below.

![image](https://cloud.githubusercontent.com/assets/25572175/25115396/dfe4601e-23ba-11e7-952f-131624c3d982.png)

It should not do this. When user clicks on an assigned task, it should take them to the 'Start Task' page.

Then when I try to click the 'Cancel' button, it doesn't work. And the 'Back' button causes the scre

[2017-04-18 05:38] SarahGarren commented on #48
@Nomanghous

1- I tested this and it is not working for me. I made a task with a 'Title', 'Rider Count', 'Pick up', and 'Drop off' locations and it still showed me the page with both the 'Slide to Accept' and 'Slide to Complete'. I'm not sure what you are doing differently.

Just to remind you; hide 'Accept and Complete' slider bar when 'Drop off' information of any kind is given, when 'Pick up' l

[2017-04-18 05:41] Nomanghous commented on #56
@SarahGarren yes sure, because of work load i couldn't able to test it. My QA will be in charge from Monday and after that he will make sure that everything works well before i submit any work.

[2017-04-18 05:43] SarahGarren commented on #56
@Nomanghous sounds good, thank you. And just to let you know, I did just update the comments so make sure you didn't miss anything.

[2017-04-18 06:02] Nomanghous commented on #48
@SarahGarren  I am going to test this one completely and let you know shortly.

[2017-04-18 06:14] SarahGarren commented on #56
![image](https://cloud.githubusercontent.com/assets/25572175/25116587/8cde4224-23c2-11e7-9bcf-8508ae50a6bb.png)

2-
![image](https://cloud.githubusercontent.com/assets/25572175/25116767/a2958f68-23c3-11e7-9643-4cb1e4eaeeb7.png)

[2017-04-18 06:14] Nomanghous commented on #48
I am going to upload new apk and #48 is fixed in that. Please find that on fiverr. Thanks.

[2017-04-18 06:16] Nomanghous commented on #56
These are fixed in the latest apk. Please test that one. I have sent on fiverr.

[2017-04-18 06:20] SarahGarren commented on #48
Works well, thank you @Nomanghous

[2017-04-18 06:55] SarahGarren commented on #48
QA Passed.

[2017-04-18 06:55] #48 closed

[2017-04-21 03:40] SarahGarren commented on #61
@Nomanghous

1- When the message opens, it opens to the very top of the conversation. It should open to the very last message sent/received.

![image](https://cloud.githubusercontent.com/assets/25572175/25261121/890ea18a-2605-11e7-9dd0-9edb46275994.png)

2- The back icon the tablet has needs to not work or if you can't make it not work, make it take user back to Message Tab.

![image](https://clou

[2017-04-21 05:32] SarahGarren commented on #56
@Nomanghous

1- When the map page comes up for 'Drop off' or 'Pick up', the map is zoomed out to much.

![image](https://cloud.githubusercontent.com/assets/25572175/25262915/7bdcedb8-2610-11e7-8497-7229e8267254.png)

2- When there is no 'Drop off Location', make the page open to users current position zoomed in and centered.
![image](https://cloud.githubusercontent.com/assets/25572175/25264061/1ee

[2017-04-21 05:39] SarahGarren commented on #49
QA passed.
![image](https://cloud.githubusercontent.com/assets/25572175/25264196/2d9fcb52-261a-11e7-92aa-fb5f562e84f1.png)

[2017-04-21 05:39] #49 closed

[2017-04-21 06:06] SarahGarren opened #63 "Date/time slider"

[2017-04-21 16:29] Nomanghous commented on #61
UPDATE: I am working on this and fixed almost all of them. But for point no 9 can you  please make a method that will return only one message of following type of json.
"Id":42074,
            "MessageType":0,
            "ToUserId":10,
            "ToUsername":"IPS04",
            "ToUser":"IPS04",
            "ToPhone":"",
            "FromUserId":1,
            "FromUsername":"brianklim",

[2017-04-21 17:01] Brianklim commented on #61
Hey @Nomanghous   You're currently retrieving messages every 5 seconds.  Can you parse that json response and if "FromUserId" is the same as the FromUserId of the open conversation then append the new message.

[2017-04-21 17:13] Nomanghous commented on #61
yes i am doing exactly like this but for the conversation messages the response type is different than inbox messages. So the schema i have sent above should be followed.

[2017-04-21 17:14] Nomanghous commented on #61
Inbox Messages have json response like this:
"id":42089,
      "type":"in",
      "toUserId":10,
      "fromUserId":1,
      "fromContactCell":"(310)528-2301",
      "subject":"Sentry BroadcastMsg",
      "body":"Pickup Request: 2 rider(s) at brianklim",
      "sentTimestamp":"\/Date(1486590755757)\/",
      "sent":"9:52 PM",
      "read":"10:11 AM"

but i need this:
"Id":42074,
"MessageType":0,
"

[2017-04-21 17:31] Brianklim commented on #61
Hey @Nomanghous , I think I understand.  You want similar schema that you got when you first build the conversation page.  However, you are already receiving messages in the Message Inbox by posting every 5 seconds.  If you want the new format then I either have to 1) change the response for Inbox Messages (which may break message for older version tablets) or 2) create a new api for conversation

[2017-04-21 18:24] Nomanghous commented on #61
@Brianklim I have seen that now, please let me know that if there is any difference between inbox messages and conversation messages?
"Message Inbox by posting every 5 seconds." is this getting the conversation messages as well? or just inbox ?

[2017-04-21 18:31] Brianklim commented on #61
@Nomanghous , the inbox gets all messages to tablet user.  conversation message is messages just between tablet user and a specified user (based on the message you tap).

Yes, the Message Inbox message response also gets the conversation message as well.  It gets everything.  So you just need to check if new messages coming to inbox is part of the conversation.  I hope this makes sense.

[2017-04-21 18:34] Nomanghous commented on #61
Okay please let me know how could i test this ? is there any way that i can send new messages to test this ?

[2017-04-21 18:37] Brianklim commented on #61
yeah.  you can use two users.  IPS03 and IPS04.  They have a conversation between each other so you can just reply on the tablets.  use the dev environment (dev::IPS03 and dev::IPS04)

[2017-04-21 18:39] Nomanghous commented on #61
okay sure i will try that  and let you know. Thanks a lot for your time.

[2017-04-21 18:39] Brianklim commented on #61
Thanks.

[2017-04-21 19:23] Nomanghous commented on #61
@Brianklim one thing is missing from that response. We will need sentTimestamp as well. This key is missing from incoming messages json, please add this field as well.

[2017-04-21 19:25] Brianklim commented on #61
@Nomanghous can you use "Sent" value?

[2017-04-21 19:28] Nomanghous commented on #61
Sent value is just a string of time only. date is not in it.

[2017-04-21 19:29] Brianklim commented on #61
What about "sentTimestamp"

[2017-04-21 19:31] Nomanghous commented on #61
"sentTimestamp" is missing "Sentry/GetUnreadMessages", i have seen that in "Sentry/GetMessages"

[2017-04-21 19:32] Brianklim commented on #61
okay. so you need sentTimestamp added to GetUnreadMessages, correct?

[2017-04-21 19:33] Nomanghous commented on #61
yeah...

[2017-04-21 19:34] Brianklim commented on #61
okay. i'll add this later tonight.

[2017-04-21 19:36] Nomanghous commented on #61
okay great! Thank you. Going to sleep, Good night bro.

[2017-04-22 07:22] Brianklim commented on #61
"sentTimestamp" has been added

[2017-04-23 22:32] SarahGarren commented on #56
@---------

1- The Rider Count 'Cancel' button is not working. Please fix this so when user clicks on it, it takes them back to the Admin Tab.

2-

[2017-04-24 00:35] SarahGarren commented on #61
@Nomanghous

Right now the Message Tab only shows all the messages received. When the user is on the Message Tab and not in a conversation, every message sent and received needs to show in order.

![image](https://cloud.githubusercontent.com/assets/25572175/25318835/060719dc-284b-11e7-8806-0909ec395bbc.png)

[2017-04-24 01:10] SarahGarren commented on #56
@Nomanghous
I found a bug that has just come up with the Rider Count page.

Steps to recreate: Open 'Rider Count' on the Admin Tab, submit some numbers, and reopen 'Rider Count' the numbers don't appear and it looks messed up.

Please fix this.

![image](https://cloud.githubusercontent.com/assets/25572175/25319217/118d9ace-2850-11e7-83eb-d0f443a6cbaf.png)

[2017-04-24 01:17] SarahGarren opened #64 "GPS turn-by-turn navigation"
I want to add turn-by-turn navigation to help the driver get to pickup location and also to get to dropoff location.

Please come up with a way to do this.  Keep in mind the driver still needs to swipe to confirm pickup and swipe to confirm dropoff.

I found this like that might help with one possible solution. http://stackoverflow.com/questions/24531391/is-it-possible-to-create-turn-by-turn-gps-n

[2017-04-25 08:27] Nomanghous commented on #61
@Brianklim  @SarahGarren  Actually this Sentry/GetMessages URL is sending incoming message only, it's not sending out going.

[2017-04-25 23:22] Brianklim commented on #56
Looks good.  QA passed.

[2017-04-25 23:22] #56 closed

[2017-04-26 03:03] SarahGarren commented on #61
@Nomanghous

When user is on the Message Tab and clicks on a message they sent (a blue bubble) the conversation that the message was sent in needs to come up, just like when the user clicks on a received message. Right now it doesn't do anything. Please fix.

[2017-04-26 05:30] SarahGarren opened #65 "Admin Tab - Design updates"
1- When the user submits something on the Admin Tab using 'Notify Supervisor', New Incident', 'Rider Count', 'Valet Request', and 'Rename Bus' buttons, a green box appeas and says success. Right now you have to wait for it to disappear on its own. Please make it so if the user taps anywhere on the screen, the box will disappear so user doesn't have to wait.
![image](https://cloud.githubusercontent

[2017-04-26 05:46] SarahGarren opened #66 "Back Arrows"
We need to start making buttons work the same as others.

1- When user is on any Tab (Routes, Maps, Tasks, Messages, or Admin) the back arrows at the bottom of the screen should not do anything when they are pushed. so Please disable all the back arrows when on this page.

2- On the Admin Tab, when' Notify Supervisor', 'New Incident', 'Rider Count', 'Valet Request', and 'Rename Bus' buttons are ta

[2017-04-26 05:47] SarahGarren opened #67 "Tasks - Design updates 2"

[2017-04-28 03:46] SarahGarren commented on #61
@

1- Right now, when a private conversation is opened, the text box at the bottom of the screen has a blue outline and cursor. Please fix this so when user first opens the conversation it is all gray with the words "Type Message".
![image](https://cloud.githubusercontent.com/assets/25572175/25512782/19e88f2a-2b85-11e7-8235-807bba853422.png)

2- Right now, on the Message Tab, when a gray bubble (r

[2017-04-28 16:36] Brianklim opened #68 "Message Conversation - Display Source"
Problem: Conversation source is not always showing depending on whether the user taps on received message or sent message on Messages tab.

Expected Behavior: As a tablet user, I want to see who I'm talking to in the message conversation.

Solution: If I tap on a received message in the messages tab, you need to display the FROM USER information at the top of the conversation page.  If I tap on th

[2017-04-28 16:43] Brianklim opened #69 "Message Conversation - Date bug"
When a message conversation is opened, the dates they were sent are wrong. Test-test5 were all sent today but it is saying they were sent on the 25th of April. This happens when I open a conversation, send a message to another tablet, go back to Message Tab, then back into the conversation. It only says the most recent message was sent today. Please fix it so the dates are the correct days they we

[2017-04-28 16:46] Brianklim opened #70 "Message Tab - Notification not working"
When receiving messages, the tablet doesn't make a noise when a new message comes in if the user doesn't have the Message Tab open.

It only makes a noise when the user has Message Tab open.

It needs to always make notification sound whenever a new message is received.

[2017-04-28 16:48] Brianklim opened #71 "Message Tab - Message Alignment"
The placement of received messages on the Message Tab is bad. It was fine in the last apk. Please align to the left side.

![image](https://cloud.githubusercontent.com/assets/25572175/25513057/2bb59a70-2b87-11e7-8fd2-3fb3f3792cbb.png)

[2017-04-28 16:51] Brianklim commented on #61
creating new bug tickets because this ticket is getting too long.

[2017-04-28 16:51] #61 closed

[2017-04-28 19:47] Brianklim opened #72 "Disable Messages/Tasks Tab"
When user logs in (SentryMobileSignIn) I will send you two new values in the response. "enableTasksTab" and "enableMessagesTab".

If "enableTasksTab" is true, allow user to use Tasks Tab and also check for tasks using API.  If false, then disable Tasks Tab (make tab look disabled) and do not check API for tasks.

If "enableMessagesTab" is true, allow user to use Messages Tab and check API for new

[2017-04-28 19:49] Brianklim commented on #72
@SarahGarren Can you create a mock-up for what the disabled tabs should look like.

[2017-04-28 20:09] Brianklim opened #73 "Environment selection"
on login page it's dev works great when user types in dev::ips03 as the username.

However, this should also work for ANY environment name we want.  it might be qa::ips03 or <whatever>::ips03.

Any environment name we type in please prefix it to any URL.  The environment name could be anything so please code it accordingly (do not hard code environment names.  It should be variable).

Also, please

[2017-04-28 20:10] Brianklim commented on #73
@SarahGarren can you create mock up for this and any other details you can think of. thanks.

[2017-04-28 22:19] Brianklim opened #74 "Login Error Message Missing"
If user types in a wrong password or wrong username or tries to log in using a user that is not a mobile app user (ips03web) the server returns status = false and an error message in the response.

This error message needs to be displayed so the user is informed why the app is not logging them in.

Please display the response message from the server if log in failed.

To get rid of the modal, user

[2017-04-29 18:43] Brianklim commented on #72
@Nomanghous
Everything looks good except 1 bug.

Current Behavior:
Currently, you are hitting GetUnreadMessages every 5 seconds no matter if messages tab is enabled or disabled.

Expected behavior:
Do not call GetUnreadMessages if messages tab is disabled.  Only call it if messages tab is enabled.

[2017-04-29 19:37] SarahGarren opened #75 "Keyboards - Admin Tab"
Admin Tab>'Notify Supervisor', 'New incident', 'Rider Count', 'Valet Request', and 'Rename Bus' when the user taps any of these buttons, the keyboard should automatically be up when the page opens, but they shouldn't be able to hid the keyboard. So please disable the down arrow at the bottom of the screen.

Please Disable this button

![image](https://cloud.githubusercontent.com/assets/25572175/25

[2017-04-29 20:09] SarahGarren opened #76 "Keyboards - Daily Logs"
1- Begin Shift- On this page, we need to disable the ability to hid the keyboard so for us to do that, Please rearrange the page so the 'Cancel' and 'Submit' buttons aren't hiding behind the keyboard.

![image](https://cloud.githubusercontent.com/assets/25572175/25558540/cf11f4b4-2cdd-11e7-9e09-142e559f741d.png)

2- End Shift- On this page, we also need to disable the ability to hid the keyboard s

[2017-04-29 20:26] SarahGarren opened #77 "Rider Count update"
Everything on this page looks good, I just want to fix one thing.

In the box, there is a strange line. Just please get rid of it so it looks better.

![image](https://cloud.githubusercontent.com/assets/25572175/25558658/0784f89e-2ce0-11e7-8d0d-79eec922e0f9.png)

[2017-04-29 20:27] SarahGarren opened #78 "New Incident Update"
Because of the cursor on this page, it looks like if the user were to start typing, they would type in the middle of 'New Incident'. To get rid of this problem, we are going to move the title 'New Incident' up so the text box just had the cursor in it.

![image](https://cloud.githubusercontent.com/assets/25572175/25558773/7fe76b62-2ce2-11e7-8d9d-14910704810a.png)

[2017-04-29 20:27] SarahGarren opened #79 "Notify Supervisor Upadte"
Because of the cursor on this page, it looks like if the user were to start typing, they would type in the middle of 'Notify Supervisor'. To get rid of this problem, we are going to move the title 'Notify Supervisor' up so the text box just had the cursor in it.

![image](https://cloud.githubusercontent.com/assets/25572175/25558755/071b47ee-2ce2-11e7-8158-badbc58fb879.png)

[2017-04-29 20:27] SarahGarren opened #80 "Rename Bus Update"
Because of the cursor on this page, it looks like if the user were to start typing, they would type in the middle of 'Rename Bus'. To get rid of this problem, we are going to move the title 'Rename Bus' up so the text box just had the cursor in it.

![image](https://cloud.githubusercontent.com/assets/25572175/25558761/43e363be-2ce2-11e7-8e77-498aef7afb19.png)

[2017-04-29 20:58] SarahGarren opened #81 "Tasks - Sizing"
1- Start Task page - Please make 'Pick up' and 'Drop off' arrows the same size.

![image](https://cloud.githubusercontent.com/assets/25572175/25558862/4cb18d84-2ce4-11e7-9885-f1697a7413ed.png)

2- Start Task, the Arrived at Pick up Location, and the Arrived at Drop off Location pages - Please make the 'Drop off' arrow bigger, but the same size as the 'Pick up' arrow.

![image](https://cloud.github

[2017-04-29 20:58] SarahGarren opened #82 "Tasks - Map Route"
The routes to the Pick up or Drop off locations are still not showing up well. We need them to be zoomed in as much as possible without any part of the route being hidden. If there isn't a drop off location, the users current location needs to be centered on the screen, and if they are moving while on this page, the dot that represents them needs to be following them as well while they are still c

[2017-04-29 20:58] SarahGarren opened #83 "Tasks - Completed Task"
After completing a task, at the bottom of the screen a little bubble comes up and it says "Task Successfully Added". We need to change this to 'Task Successfully Completed". The user might find this very confusing, it was confusing to me. Please fix it.

![image](https://cloud.githubusercontent.com/assets/25572175/25559017/c20fe4c4-2ce7-11e7-9f3f-1c86e713241c.png)

[2017-04-29 20:58] SarahGarren opened #84 "Tasks - Time and Distance"

[2017-04-29 21:27] SarahGarren opened #85 "Tasks - Basic Design Updates"
1- On the Accept Task page, when there is only the 'Slide to Accept' slider, everything on the page is pushed up. Please make it the same as if there is the second slider ('Slider to Accept and Complete').

![image](https://cloud.githubusercontent.com/assets/25572175/25559215/8b637b4e-2ceb-11e7-9cc1-246d342f14a0.png)

2- After user slides the 'Accept Task' bar, a modal comes up and says 'Task Acce

[2017-04-29 21:56] SarahGarren opened #86 "Login in - Password"
After the user logs out, the username is saved. Good! Please make it so it also saves the password so the user doesn't have to retype the password if they accidentally log out.

![image](https://cloud.githubusercontent.com/assets/25572175/25559320/51563a58-2cec-11e7-8661-96a110fed2f7.png)

[2017-04-30 05:42] Nomanghous commented on #72
@Brianklim okay i will fix that and send you apk in 30 minutes.

[2017-04-30 06:24] Brianklim commented on #72
QA passed. 1.35q.apk

[2017-04-30 06:24] #72 closed

[2017-05-01 15:02] Nomanghous commented on #68
@Brianklim If I tap on the sent message in the messages tab, you need to display the TO USER information at the top of the conversation page. I am not getting TO USER Information in message object. ?

[2017-05-01 17:56] Brianklim opened #87 "Task Tab - task info UI change"
for the tasks listed in the task tab, let's remove the drop off time and the status.  let's make the pickup time and rider count info bigger.

let's fix the placement of pickup time and rider count to make it look better and easier to read.

![image](https://cloud.githubusercontent.com/assets/25572175/25647603/3270c4a8-2f78-11e7-80ad-26cf995d88e8.png)

[2017-05-02 16:15] Brianklim commented on #73
QA passed

[2017-05-02 16:15] #73 closed

[2017-05-03 02:05] SarahGarren commented on #70
QA passed.

[2017-05-03 02:05] #70 closed

[2017-05-03 02:15] SarahGarren commented on #71
QA passed.

[2017-05-03 02:15] #71 closed

[2017-05-03 02:27] SarahGarren commented on #68
@Nomanghous

You are sending userA ID and userB ID as the same thing. This is the reason why the conversation doesn't work. You are sending in the same userID.

![image](https://cloud.githubusercontent.com/assets/25572175/25646442/4d024f4a-2f6d-11e7-8e50-db08bb0fa86e.png)

[2017-05-03 02:35] SarahGarren commented on #69
@Nomanghous

On the Message Tab, the sent time is correct. When I go into the private messages the sent time is incorrect. Please fix. Be careful not to mess up the sent date when fixing this.

![image](https://cloud.githubusercontent.com/assets/25572175/25646545/4c0d2258-2f6e-11e7-8d67-7947a1c85061.png)

![image](https://cloud.githubusercontent.com/assets/25572175/25646565/8e31d656-2f6e-11e7-95aa

[2017-05-04 17:50] Brianklim commented on #69
QA passed

[2017-05-04 17:50] #69 closed

[2017-05-04 17:51] Brianklim commented on #87
QA passed.

[2017-05-04 17:51] #87 closed

[2017-05-04 20:05] Brianklim commented on #68
QA passed

[2017-05-04 20:05] #68 closed

[2017-05-05 02:51] Brianklim commented on #64
QA passed

[2017-05-05 02:51] #64 closed

[2017-05-08 02:16] Brianklim opened #88 "Startup Automatically"
I'm not sure if this is a bug or a new feature...

When the tablet is turned on for the first time, or when the tablet is restarted, I want the Sentry app to start automatically just like as if the user tapped the app icon to open it.

[2017-05-08 16:41] Brianklim opened #89 "Message Conversation - UserId incorrect"
I logged in as IPS03 to test.  Then I logged out and logged in as PCA02.  This is the logs when I retrieve messages from app.  Notice the toUserId=68 is correct.
![image](https://cloud.githubusercontent.com/assets/8105239/25814471/78ce1316-33d2-11e7-8d3b-579d3dbc84aa.png)

Then I click on the last message to bring up message conversation.  It's blank, but the phone number is correct.
![image](http

[2017-05-08 20:46] Brianklim commented on #89
@SarahGarren can you test this please

[2017-05-10 16:58] Brianklim commented on #88
@SarahGarren When the developer is done with this, please test the crap out of this.  You may have to install it on all test tablets and restart it many times and then let it run for a few days and check again when the next time you work to make sure they are all still running.  Thanks.

[2017-05-10 19:55] Brianklim opened #90 "Task Notification not working"
Anytime a new task is received we need to hear an audible sound and the number of new tasks counter on the tab.

This notification should sound even if task tab is not active
This notification should sound even if app is minimized

[2017-05-12 02:13] SarahGarren commented on #86
QA Passed.

![image](https://cloud.githubusercontent.com/assets/25572175/25979540/f0580c54-367d-11e7-9a50-5530ec533cd2.png)

[2017-05-12 02:13] #86 closed

[2017-05-12 02:16] SarahGarren commented on #74
@jubayer23

Everything looks good, but please make it so if user clicks **anywhere** on the screen the error message goes away.

[2017-05-12 02:22] SarahGarren commented on #77
QA Passed.

![image](https://cloud.githubusercontent.com/assets/25572175/25979766/33fbb842-367f-11e7-875b-7df1a25f81d1.png)

[2017-05-12 02:22] #77 closed

[2017-05-12 02:25] SarahGarren commented on #2
QA Passed.

![image](https://cloud.githubusercontent.com/assets/25572175/25979834/a1e29682-367f-11e7-911a-1075a61a91c0.png)

[2017-05-12 02:25] #2 closed

[2017-05-12 06:10] SarahGarren opened #91 "Tasks - programmatically turn up the volume"
When a new task comes in, we need to make sure the user hears it at all times. So to fix this we need to make sure that even if the volume on the table is off, the volume for tasks is at max and makes noise when the new tasks comes in.

[2017-05-17 01:52] Brianklim commented on #89
QA passed.

[2017-05-17 01:52] #89 closed

[2017-05-17 16:27] Brianklim commented on #74
![image](https://cloud.githubusercontent.com/assets/8105239/26164924/13edc712-3ae3-11e7-93d0-5dee5ed86d14.png)
QA passed

[2017-05-17 16:27] #74 closed

[2017-05-17 16:30] Brianklim commented on #80
@jubayer23  The UI looks great, however, when I submit the form the app crashes.  Please fix.

[2017-05-19 01:48] SarahGarren commented on #65
QA Passed.

[2017-05-19 01:48] #65 closed

[2017-05-19 02:06] SarahGarren commented on #91
@jubayer23 I just tested this and when the volume is all the way off on the tablet, it needs to make a noise when a new task comes in. Please do this and set the volume to max no matter what the user sets the volume on the tablet. Let me know if you need a better explanation.

[2017-05-19 02:07] SarahGarren commented on #80
QA Passed.

[2017-05-19 02:09] SarahGarren commented on #80
QA Passed.

[2017-05-19 02:09] #80 closed

[2017-05-19 02:09] SarahGarren commented on #78
QA Passed.

[2017-05-19 02:09] #78 closed

[2017-05-19 02:10] SarahGarren commented on #79
QA Passed.

[2017-05-19 02:10] #79 closed

[2017-05-19 02:18] SarahGarren opened #92 "Valet Request - Error"

[2017-05-19 06:15] Brianklim commented on #92
@SarahGarren for this page i think we're getting an error because the valet ticket number you typed in doesn't exist.  Next time I'll show you how to create a valet ticket number and then you can test it on the app.

[2017-05-19 15:34] jubayer23 commented on #91
Can you please tell me how you tested this.? Because i tested it and it acted as same as your expectation.

[2017-05-19 16:03] Brianklim commented on #91
@jubayer23 , QA tested this by turning down volume using the physical button located on the side of the tablet.  QA turned down the volume until it was "muted".  Then when the tablet receives a message or task through the app there is no sound.  We want to make sure the sounds is heard anytime a message or task is received.

[2017-05-21 07:11] jubayer23 commented on #66
Ma be i dont have the access of  The 'Bell Gardens, 'Cudahy', 'Montebello', and 'San Fernando' Daily Logs. Please check

[2017-05-22 01:22] SarahGarren opened #93 "Tasks Page - Update"
On the Tasks Page, we need to change a few things.

1- We need to add a status of where the user last left off on that task.

2- We need to change the passenger count to a little blue bow with a white number in it, and under that it needs to say 'PAX' in blue font.

![image](https://cloud.githubusercontent.com/assets/25572175/26289304/c7975436-3e53-11e7-8709-f7363b40abaf.png)

[2017-05-22 02:42] SarahGarren commented on #66
@jubayer23 I gave you access to these. Log into IPS07. Username: dev::ips07  Password: test

[2017-05-22 04:13] jubayer23 commented on #93
Hello , how can i get this value "where the user last left off on that task"?

[2017-05-22 04:58] Brianklim commented on #93
Just display the string value returned from API

[2017-05-24 16:09] jubayer23 commented on #66
Can you please tell me how to test Message Tab>private conversation??

[2017-05-24 16:21] Brianklim commented on #66
@jubayer23 I sent messages from IPS03 and IPS04 in dev.  Please log in to tablet and take a look. Thanks

[2017-05-25 15:50] jubayer23 commented on #75
in 'Rider Count', 'Valet Request i don't find any keyboard input filed where keyboard need to show up.

[2017-05-25 16:05] Brianklim commented on #75
okay, if the keyboard never shows that's fine too.  thanks.

[2017-05-26 06:34] jubayer23 commented on #82
@SarahGarren @Brianklim  how can i test this Drop Off features? can you please tell me the flow of testing?

[2017-05-27 04:55] jubayer23 commented on #93
@Brianklim  hi i saw the API response. But there is no Left Off/ Drop Off location . There are coordinates of Drop Off location.

[2017-05-31 02:00] SarahGarren commented on #82
@jubayer23 I created 7 test tasks so you can test this.
1- Accept task.
2- Start task by clicking green check in lower right corner.
3- On 'Pick up' and 'Drop off' page, make sure the route on the map is centered, zoomed in but not too much. User needs to be able to see whole route without any part hidden and without it being too small. User an then zoom in and out as needed.

Can't be like this.

[2017-05-31 02:30] SarahGarren commented on #76
QA passed.

[2017-05-31 02:30] #76 closed

[2017-05-31 02:37] SarahGarren commented on #66
QA passed.

[2017-05-31 02:37] #66 closed

[2017-05-31 02:43] SarahGarren commented on #81
@jubayer23
Everything looks good, but on the 'Details' page of the Tasks, please make those arrows smaller now, they are huge. Try to get them the same size as the other icons on that page (the Rider Count, Notes, and Number icons)

[2017-05-31 02:49] SarahGarren commented on #75
QA passed.

[2017-05-31 02:49] #75 closed

[2017-05-31 02:56] SarahGarren commented on #83
QA passed.

![image](https://cloud.githubusercontent.com/assets/25572175/26613921/12df49b0-4572-11e7-80e0-e7659d402420.png)

[2017-05-31 02:56] #83 closed

[2017-05-31 05:10] SarahGarren commented on #85
QA passed.

![image](https://cloud.githubusercontent.com/assets/25572175/26616621/d32f883a-4584-11e7-91f7-0cce2f6cb246.png)

[2017-05-31 05:10] #85 closed

[2017-05-31 05:31] SarahGarren commented on #93
@jubayer23

Everything looks good for this, just please move the status over a little so the whole status fits on one line.

![image](https://cloud.githubusercontent.com/assets/25572175/26616973/5b1e7cea-4587-11e7-8ce8-9f5460f770a5.png)

[2017-05-31 05:38] SarahGarren commented on #91
@jubayer23

Tested this and still doesn't work. Please take a look and fix. Thank you.

[2017-05-31 16:31] Brianklim commented on #88
@jubayer23 , I was testing this some and it seems like Android is killing the app process because it is trying to save battery life.  It seems to happen especially when tablets are unplugged and running on battery.  Please fix this.

[2017-06-01 05:22] jubayer23 commented on #4
@Brianklim I need some time for fixing this issue.........

[2017-06-01 05:33] jubayer23 commented on #88
I get confused after reading your comment. The issue was the app is not starting after restart or turned on. Now you are saying that the service/app is stopped even when app is running normally?

[2017-06-01 14:15] jubayer23 commented on #57
@Brianklim what will be the design of the button?

[2017-06-01 15:10] Brianklim commented on #57
Same style as the other Admin Tab buttons.  Please use new color for these two buttons.  These two buttons should match in color.

[2017-06-01 15:16] jubayer23 commented on #57
@Brianklim There is no such methods for open the incognito mode from android app programatically.

[2017-06-02 07:17] SarahGarren commented on #57
@jubayer23

APD Login button should open in Puffin browser if Puffin app is installed. If Puffin app is not installed, open in Chrome.

ADP Timestamp is good.

[2017-06-02 07:19] SarahGarren commented on #93
QA passed.

![image](https://cloud.githubusercontent.com/assets/25572175/26715078/1714e0ae-4729-11e7-9a5b-811b0c22e43d.png)

[2017-06-02 07:19] #93 closed

[2017-06-02 07:37] SarahGarren commented on #82
@jubayer23

1- If there is a 'Pick up' only, the first map (Pick Up page) is not centered. But the second map (Drop Off page) is centered.

We need them both to be centered when first opened.

![image](https://cloud.githubusercontent.com/assets/25572175/26715547/f4455fd4-472a-11e7-85f3-49958695e46e.png)

2- If both 'Pick up' and 'Drop off' are defined, then first map (Pick Up page) is centered. Bu

[2017-06-02 07:42] SarahGarren commented on #81
@jubayer23

Maybe I wasn't very clear.

Any Task > Start Task > Pick up/Drop off Pages > Details (in the top right hand corner tap the arrow)

The icons for 'Pick up' and 'Drop off' are huge! Please make same size as other icons on page.

Change this for both 'Pick up' and 'Drop off' detail pages.

![image](https://cloud.githubusercontent.com/assets/25572175/26715870/21bd48d6-472c-11e7-96f1-e394ad

[2017-06-04 18:59] jubayer23 commented on #57
ADP login : puffin browser auto open isn't possible for android. So i made a chooser to choose available browser from tablet instead of this.

[2017-06-04 19:06] SarahGarren commented on #91
QA passed.

[2017-06-04 19:06] #91 closed

[2017-06-04 19:07] SarahGarren commented on #81
QA passed.

![image](https://cloud.githubusercontent.com/assets/25572175/26764593/59da289e-491e-11e7-9122-ee4a4aa0e904.png)

[2017-06-04 19:07] #81 closed

[2017-06-04 19:21] SarahGarren commented on #57
QA passed.

![image](https://cloud.githubusercontent.com/assets/25572175/26764686/4ccc9cd4-4920-11e7-8e1e-8be358ebaae5.png)

[2017-06-04 19:21] #57 closed

[2017-06-04 21:53] SarahGarren commented on #82
QA passed, for now.

![image](https://cloud.githubusercontent.com/assets/25572175/26765671/9da677dc-4935-11e7-8de9-f5a7b5e79f66.png)

[2017-06-04 21:53] #82 closed